backup/
*.exe
*.deb
lib/
bluray-film-player.debug
bluray-film-player.linux.32bit
bluray-film-player.linux.64bit
cat_films.lps
cat_films.res
bluray-film-player.lps
bluray-film-player.res
Pliki
DANE
base.dat
