[Desktop Entry]
X-KDE-Solid-Predicate=OpticalDisc.availableContent & 'Data'
Type=Service
Actions=open;

[Desktop Action open]
# %f gives StorageAccess.filePath, %d gives Block.device, %i gives UDI
Exec=bluray-film-player --force-dir "%f" --optical-disc "%d"
Icon=bluray-film-player
Name=Open Optical Disc Films
Name[pl]=Otwórz optyczny dysk filmowy
